{% extends 'base.html.twig' %}
{% block title %}Camarero{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <h2>OPCIONES de COMANDAS</h2>
    <a href="{{ path('app_form_comanda') }}" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">CREAR</a><br>
    <a href="{{ path('app_listar_comanda') }}" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">LISTA COMANDAS</a><br>
    <a href="{{ path('app_indice') }}">Volver</a>
{% endblock %}