{% extends 'base.html.twig' %}
{% block title %}Cocina{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}

    <a href="#" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">LISTAR COMANDAS</a><br>
    <a href="{{ path('app_producto') }}" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">PRODUCTOS</a><br>

{% endblock %}