{% extends 'base.html.twig' %}
{% block title %}indice{% endblock %}
 {% block stylesheets %}

     <style>
         a{color: #6E6E6E; text-decoration: none; font-family: fantasy;}
     </style>
 {% endblock %}



{% block body %}

    <a href="#">CAMARERO</a>
    <a href="#">COCINA</a>
    <a href="#">BARRA</a>

{% endblock %}