{% extends 'base.html.twig' %}
{% block title %}indice{% endblock %}
 {% block stylesheets %}


 {% endblock %}



{% block body %}

    <a href="#" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">CAMARERO</a><br>
    <a href="#" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">COCINA</a><br>

{% endblock %}