{% extends 'base.html.twig' %}
{% block title %}inicio{% endblock %}
 {% block stylesheets %}
     <style>
         body{ background-repeat: no-repeat; background-size: 100% 100%;}
         span{color: #B0413E; }
         .lead{font-weight: bold;}
         p{color: whitesmoke; font-family: Ebrima; color:  #3f4e5e; font-weight: bold;}
         .display-4{font-family: Ebrima; color: #3f4e5e; font-weight: bold; }
         .jumbotron{background-image: url("/images/hamb.jpeg"); background-repeat: no-repeat; background-size: 100% 100%; height: 80%; border-bottom: #B0413E solid 3px;border: #7c8ea3 solid 1px;}
         .trans{display: flex; justify-content: flex-start;}
     </style>
 {% endblock %}



{% block body %}



    <div class="jumbotron">
        <h1 class="display-4"><span>FasT</span>Good!</h1>
        <p class="lead">Aplicativo para negocio de comidas rapidas..</p>
        <hr class="my-4">
        <p>Las cosas bien hechas, la amabilidad, empatía y pasión.</p>
    </div>
    <div class="trans">
        <a href="{{ path('app_indice') }}" class="btn btn-dark btn-lg btn-block" role="button" aria-pressed="true">ENTRAR</a>
    </div>

{% endblock %}