{% extends 'base.html.twig' %}
{% block title %}Cocina{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="{{ path('app_form_comanda', {'numeromesa': 1})}}" class="thumbnail">
                    <img src="/images/images.jpg" alt="">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="{{ path('app_form_comanda', {'numeromesa': 1})}}" class="thumbnail">
                    <img src="/images/images.jpg" alt="">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="{{ path('app_form_comanda', {'numeromesa': 1})}}" class="thumbnail">
                    <img src="/images/images.jpg" alt="">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="{{ path('app_form_comanda', {'numeromesa': 1})}}" class="thumbnail">
                    <img src="/images/images.jpg" alt="">
                </a>
            </div>
            ...
        </div>

    </div>

{% endblock %}