{% extends 'base.html.twig' %}
{% block title %}Cocina{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <h2>Productos</h2>
    <a href="#" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">LISTAR</a><br>
    <a href="{{ path('app_form_producto') }}" class="btn btn-outline-info btn-lg btn-block" role="button" aria-pressed="true">CREAR</a><br>

{% endblock %}